In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv('/home/nitin/Downloads/SIH-1723/data/test_data/WEIGHT_DATA.csv')
df1

      castNo  coilNo           rawDate
0     858112       7  01-09-2024 00:27
1     858112       8  01-09-2024 00:29
2     858112       9  01-09-2024 01:05
3     858112      10  01-09-2024 01:07
4     858112      11  01-09-2024 01:42
...      ...     ...               ...
9980  658683      16  25-11-2024 18:11
9981  858762       6  25-11-2024 18:43
9982  858762       7  25-11-2024 18:45
9983  658683      17  25-11-2024 18:49
9984  658683      18  25-11-2024 18:51

[9985 rows x 3 columns]

In [ ]:


df2 = pd.read_csv('/home/nitin/Downloads/SIH-1723/data/test_data/physical properties.csv')

            Date  Batch No  Coil     UTS  Elongation  Conductivity
0     01.09.2024    558097     1    10.3        15.1          61.4
1     01.09.2024    558097    10    10.2        17.3          61.4
2     01.09.2024    558097    11     9.9        19.4          61.4
3     01.09.2024    558097    12     9.9        15.1          61.4
4     01.09.2024    558097    13     9.7        23.4          61.3
...          ...       ...   ...     ...         ...           ...
9810  24.11.2024    858754     5    10.4        12.0          60.9
9811  24.11.2024    858754     6    10.3        12.8          60.9
9812  24.11.2024    858754     7    10.1        13.6          60.9
9813  24.11.2024    858754     8    10.9        14.0          60.9
9814  24.11.2024    858754     9    10.8        10.8          60.9

[9815 rows x 6 columns]

In [11]:
merged_df = pd.merge(df1, df2, 
                     left_on=['castNo', 'coilNo'], 
                     right_on=['Batch No', 'Coil'], 
                     how='inner')
merged_df

,castNo,coilNo,rawDate,Date,Batch No,Coil,UTS,Elongation,Conductivity
0,858112,7,01-09-2024 00:27,01.09.2024,858112,7,9.7,15.4,61.8
1,858112,8,01-09-2024 00:29,01.09.2024,858112,8,9.5,16.4,61.8
2,858112,9,01-09-2024 01:05,01.09.2024,858112,9,9.7,13.9,61.8
3,858112,10,01-09-2024 01:07,01.09.2024,858112,10,10.0,14.6,61.8
4,858112,11,01-09-2024 01:42,01.09.2024,858112,11,9.8,14.1,61.9
...,...,...,...,...,...,...,...,...,...
9799,858746,8,25-11-2024 11:46,24.11.2024,858746,8,11.8,12.6,60.7
9800,858746,7,25-11-2024 12:46,24.11.2024,858746,7,11.6,11.6,60.7
9801,658671,1,25-11-2024 12:54,24.11.2024,658671,1,11.4,12.0,61.2
9802,558669,4,25-11-2024 13:19,23.11.2024,558669,4,10.0,16.0,61.2
9803,858746,3,25-11-2024 13:27,23.11.2024,858746,3,11.5,8.8,60.5

In [6]:
df3 = pd.read_csv('/home/nitin/Downloads/SIH-1723/data/test_data/chemical properties.csv')
df3

     castNo        Date   %SI   %FE    %TI     %V     %AL
0    558097  01.09.2024  0.06  0.24  0.001  0.003  99.671
1    558101  01.09.2024  0.06  0.22  0.002  0.003  99.690
2    558105  02.09.2024  0.06  0.20  0.001  0.003  99.711
3    558109  02.09.2024  0.06  0.17  0.001  0.003  99.741
4    558113  03.09.2024  0.06  0.20  0.001  0.002  99.712
..      ...         ...   ...   ...    ...    ...     ...
609  858738  22.11.2024  0.11  0.17  0.001  0.002  99.692
610  858742  23.11.2024  0.11  0.16  0.001  0.002  99.702
611  858746  23.11.2024  0.12  0.19  0.002  0.008  99.655
612  858750  24.11.2024  0.12  0.15  0.002  0.007  99.696
613  858754  24.11.2024  0.11  0.15  0.002  0.006  99.707

[614 rows x 7 columns]

In [12]:
merged_df_2  = pd.merge(merged_df, df3, on='castNo', how='inner')
merged_df_2

,castNo,coilNo,rawDate,Date_x,Batch No,Coil,UTS,Elongation,Conductivity,Date_y,%SI,%FE,%TI,%V,%AL
0,858112,7,01-09-2024 00:27,01.09.2024,858112,7,9.7,15.4,61.8,01.09.2024,0.06,0.18,0.001,0.002,99.732
1,858112,8,01-09-2024 00:29,01.09.2024,858112,8,9.5,16.4,61.8,01.09.2024,0.06,0.18,0.001,0.002,99.732
2,858112,9,01-09-2024 01:05,01.09.2024,858112,9,9.7,13.9,61.8,01.09.2024,0.06,0.18,0.001,0.002,99.732
3,858112,10,01-09-2024 01:07,01.09.2024,858112,10,10.0,14.6,61.8,01.09.2024,0.06,0.18,0.001,0.002,99.732
4,858112,11,01-09-2024 01:42,01.09.2024,858112,11,9.8,14.1,61.9,01.09.2024,0.06,0.18,0.001,0.002,99.732
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9799,858746,8,25-11-2024 11:46,24.11.2024,858746,8,11.8,12.6,60.7,23.11.2024,0.12,0.19,0.002,0.008,99.655
9800,858746,7,25-11-2024 12:46,24.11.2024,858746,7,11.6,11.6,60.7,23.11.2024,0.12,0.19,0.002,0.008,99.655
9801,658671,1,25-11-2024 12:54,24.11.2024,658671,1,11.4,12.0,61.2,24.11.2024,0.13,0.18,0.001,0.002,99.662
9802,558669,4,25-11-2024 13:19,23.11.2024,558669,4,10.0,16.0,61.2,23.11.2024,0.12,0.19,0.002,0.005,99.658
9803,858746,3,25-11-2024 13:27,23.11.2024,858746,3,11.5,8.8,60.5,23.11.2024,0.12,0.19,0.002,0.008,99.655

In [7]:

df4 = pd.read_csv('/home/nitin/Downloads/SIH-1723/data/test_data/WRM 2 Data.csv')
df4

,timestamp,EMUL_OIL_L_TEMP_PV_VAL0,STAND_OIL_L_TEMP_PV_REAL_VAL0,GEAR_OIL_L_TEMP_PV_REAL_VAL0,EMUL_OIL_L_PR_VAL0,castNo,QUENCH_CW_FLOW_EXIT_VAL0,CAST_WHEEL_RPM_VAL0,BAR_TEMP_VAL0,QUENCH_CW_FLOW_ENTRY_VAL0,GEAR_OIL_L_PR_VAL0,STANDS_OIL_L_PR_VAL0,TUNDISH_TEMP_VAL0,BATH_TEMP_F7_VAL0,BATH_TEMP_F8_VAL0,RM_MOTOR_COOL_WATER__VAL0,ROLL_MILL_AMPS_VAL0,RM_COOL_WATER_FLOW_VAL0,CCW_LEVEL_VAL0,EMULSION_LEVEL_ANALO_VAL0
0,09-09-2024 11:01:59,60.355865,53.899261,57.168442,1.757401,858194,9.206683,2.029669,586.618774,244.340181,1.953110,2.025135,696.173584,728.488159,656.502441,1.186440,365.173340,209.326477,745,1213.542725
1,09-09-2024 11:10:39,60.068710,54.131332,57.217011,1.762503,858194,9.188214,2.029669,596.280151,243.919547,1.949245,2.029371,702.992432,728.960571,598.456787,1.162897,353.972168,209.261352,745,1212.726807
2,09-09-2024 11:20:39,60.398239,54.184143,57.459518,1.752281,858194,9.204299,2.029065,599.920044,243.118968,1.940844,2.015987,697.112549,723.062134,642.500977,1.157381,344.284668,209.071777,745,1214.204590
3,09-09-2024 11:29:12,60.359528,54.666901,57.624268,1.773180,858194,9.154422,2.022418,599.902954,241.552907,1.931721,2.014416,691.594971,717.707397,647.984619,1.153419,319.536133,208.768860,745,1215.308594
4,09-09-2024 11:39:12,60.448059,54.954453,57.699081,1.771347,858194,9.188818,2.014362,599.947754,241.492889,1.929428,2.012123,688.294678,716.404419,673.616943,1.166464,319.309082,208.693359,745,1213.763672
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10921,25-11-2024 18:38:49,60.386810,47.499329,57.628693,2.245848,858762,6.619999,1.898346,584.152466,269.747609,2.012060,1.900618,698.905762,736.253540,741.981201,1.222080,428.596191,199.498352,745,1150.670166
10922,25-11-2024 18:39:36,60.470840,47.501511,57.622467,2.231224,858762,6.640375,1.904993,583.384888,270.017690,2.006746,1.903824,698.000732,735.618042,741.871094,1.173975,398.474121,199.534973,745,1145.714844
10923,25-11-2024 18:49:36,60.334030,47.609879,57.634125,2.251154,858762,6.605312,1.903583,589.071167,270.302521,2.009504,1.901762,690.604492,737.228882,737.687012,1.195292,413.232422,199.532898,745,1150.692627
10924,25-11-2024 18:59:36,60.316437,47.719421,57.675140,2.271627,858762,6.606997,1.899756,582.404907,270.396108,2.013735,1.900444,697.495361,739.982300,754.112549,1.221163,409.750977,199.453857,745,1144.916992
10925,25-11-2024 19:00:03,60.231827,47.713791,57.681961,2.264101,858762,6.628391,1.903986,578.259766,270.070078,2.011885,1.900930,697.688232,741.076538,755.363281,1.232164,407.102051,199.478516,745,1145.099854

timestamp                         object
EMUL_OIL_L_TEMP_PV_VAL0          float64
STAND_OIL_L_TEMP_PV_REAL_VAL0    float64
GEAR_OIL_L_TEMP_PV_REAL_VAL0     float64
EMUL_OIL_L_PR_VAL0               float64
castNo                             int64
QUENCH_CW_FLOW_EXIT_VAL0         float64
CAST_WHEEL_RPM_VAL0              float64
BAR_TEMP_VAL0                    float64
QUENCH_CW_FLOW_ENTRY_VAL0        float64
GEAR_OIL_L_PR_VAL0               float64
STANDS_OIL_L_PR_VAL0             float64
TUNDISH_TEMP_VAL0                float64
BATH_TEMP_F7_VAL0                float64
BATH_TEMP_F8_VAL0                float64
RM_MOTOR_COOL_WATER__VAL0        float64
ROLL_MILL_AMPS_VAL0              float64
RM_COOL_WATER_FLOW_VAL0          float64
CCW_LEVEL_VAL0                     int64
EMULSION_LEVEL_ANALO_VAL0        float64
dtype: object

In [8]:

df5 = pd.read_csv('/home/nitin/Downloads/SIH-1723/data/test_data/CCW Data.csv')
df5

                 timestamp  CCW_PR_VAL0  CCW_TEMP_VAL0
0      02-10-2024 12:19:58     4.381084      34.907166
1      02-10-2024 12:24:58     4.393887      34.881439
2      02-10-2024 12:29:58     4.400457      34.888748
3      02-10-2024 12:34:58     4.393305      34.936417
4      02-10-2024 12:39:58     4.386745      34.933762
...                    ...          ...            ...
17301  01-12-2024 14:54:51     4.199102      37.823410
17302  01-12-2024 14:59:51     4.212538      37.817352
17303  01-12-2024 15:04:51     4.199764      37.820175
17304  01-12-2024 15:09:51     4.194485      37.767059
17305  01-12-2024 15:14:51     4.187059      37.790314

[17306 rows x 3 columns]

In [9]:
df6 = pd.read_csv('/home/nitin/Downloads/SIH-1723/data/test_data/Rolling Mill Data.csv')
df6

                timestamp  ROLLING_MILL_RPM  ROLLING_MILL_AMP
0     01-12-2024 23:46:18            728.04             25.88
1     01-12-2024 23:41:18            728.04             37.61
2     01-12-2024 23:36:18              0.00              3.41
3     01-12-2024 23:31:18              0.00              4.09
4     01-12-2024 23:26:18             -0.03              3.33
...                   ...               ...               ...
8635  02-11-2024 00:11:18            821.84            405.59
8636  02-11-2024 00:06:18            819.92            396.58
8637  02-11-2024 00:01:18            817.63            407.56
8638  01-11-2024 23:56:18            818.79            387.27
8639  01-11-2024 23:51:18            818.19            405.44

[8640 rows x 3 columns]